@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(../images/background.jpg);	
}


#nav
{
	width:90%;
	position:absolute;
}

.menu
{
 	cursor:url(../images/pointer.png),auto;
	width: 100%;
	position: relative;
	margin-left: 2.8%;
	margin-top: 10.1%;
	transition:1s ease;
}

.menu:active
{
 	cursor:url(../images/close.png),auto;
}

.menu:active img.door
{
	transform:rotateX(89deg) !important;
}

.menu img
{
	width: 113%;	
	transition:1s ease;
}

/*
.hook
{
 	cursor:url(../images/open.png),auto;
	width: 75px;
	height: 60px;
	z-index: 100;
	position: absolute;
	margin: 15px 214px;		
}

.hook:active
{
 	cursor:url(../images/close.png),auto;	
}

.hook:active .menu
{
	transform:rotateX(89deg);
}
*/

#about
{
	width: 110%;
	height: 90%;
	margin-left: 1.5%;
	margin-top: 1.5%;
	background-color: #fff;
	position: absolute;
	z-index:-1;
	transition:2s ease;
}

#contact
{
	width: 110%;
	height: 90%;
	margin-left: 1.5%;
	margin-top: 1.5%;
	background-color: #fff;
	position: absolute;
	z-index:-1;
	transition:2s ease;
}

#skills
{
	width: 110%;
	height: 90%;
	margin-left: 1.5%;
	margin-top: 1.5%;
	position: absolute;
	z-index:-1;
	transition:2s ease;
	overflow:hidden;
}

#skills img
{
	float:left;
	width: 50px;
	margin-top: 20px;
	top: 0px;
	left: 0px;
	right:0px;
	position: relative;
}